<% render_children = true if render_children.nil? %>
<% render_tree_percent = false if render_tree_percent.nil? %>

<li role="listitem" class="max-w-full <%= goal.state %>">
  <%= link_to goal_path(goal), class: 'block rounded overflow-hidden' do %>
    <% percent = render_tree_percent ? goal.tree.percent : goal.percent %>
    <div class="w-full h-1 progress-bar square">
      <span class="inner" style="width: <%= percent %>%"></span>
    </div>
    <div class="flex p-4 overflow-hidden bg-white dark:bg-gray-700 items-center hover:bg-gray-300 shadow-sm transition duration-300" data-tree-target="goal" data-goal-id="<%= goal.id %>">
      <div class="min-w-0 flex-1 flex items-center">
        <% if goal.assignee %>
          <div class="shrink-0">
            <%= render 'customer/avatar', customer: goal.assignee, size: :lg %>
          </div>
        <% end %>
        <div class="min-w-0 flex-1 px-4 flex flex-col">
          <p class="text-sm font-medium text-black dark:text-white truncate max-w-full"><%= goal.name %></p>
          <div class="flex gap-1">
            <%= render 'goals/text_pill', text: t(goal.state), class: goal.state %>
            <% if parallelizable?(goal) %>
              <div class="relative">
                <%# render 'goals/text_pill', text: t('.parallelize'), class: 'absolute text-sky-400 bg-sky-400 animate-pulse' %>
                <%= render 'goals/text_pill', text: t('.parallelize'), class: 'absolute bg-sky-500 animate-pulse' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-gray-400 justify-self-end w-fit">
        <%= render 'svg/chevron-right', w: 'w-5', h: 'w-5' %>
      </div>
    </div>
  <% end %>
  <% if render_children %>
    <ul>
      <% children = @show_completed_goals ? goal.children : goal.children.incomplete %>
      <% children.each do |child| %>
        <%= render 'trees/goal', goal: child %>
      <% end %>
    </ul>
  <% end %>
</li>
