<%= tag.div id: dom_id(tree), data: {
  controller: 'tree',
  'tree-hierarchy-value': render(partial: 'goals/goal', locals: { goal: tree.top_level_goal }, formats: [:json])
  } do %>
  <div class="w-full">
    <div class="flex my-2 px-2 space-x-2 justify-between items-end"> 
      <div>
        <span class="text-sm">
          <%= t '.progress', spent: tree.spent, duration: tree.duration %>
        </span>
        <%= render 'components/progress', percent: tree.percent %>
      </div>
      <%= link_to new_tree_goal_path(tree), class:"btn btn-primary", data: {'turbo-frame': :popover} do %>
        <%= render '/svg/plus', w: 'w-4', h: 'h-4' %>
        <%= t('goals.new')%>
      <% end %>
    </div>
    <%= tag.div id: 'content', class: 'w-full h-full', data: { 'tree-target': :tree } do -%>
        <svg class="tree"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1">
            <g class="links"></g>
            <g class="nodes"></g>
        </svg>
    <%- end -%>
  </div>
<%- end -%>