<%= link_to root_path, class: 'btn secondary' do %>
  <%= t 'back' %>
<% end %>
<%= tag.div id: dom_id(tree), data: {
  controller: 'tree',
  'tree-hierarchy-value': render(partial: '/goals/goal', locals: { goal: tree.top_level_goal }, formats: [:json])
  } do %>
  <div class="w-full">
    <div class="flex my-2 px-2 space-x-2 justify-between items-end"> 
      <div>
        <span class="text-sm">
          <%= t '.progress', spent: tree.spent, duration: tree.duration %>
        </span>
        <%= render 'components/progress', percent: tree.percent %>
      </div>
      <div>
        <% if policy(tree).edit? %>
          <%= link_to new_tree_goal_path(tree), class:"btn primary" do %>
            <%= render '/svg/plus', w: 'w-4', h: 'h-4' %>
            <%= t('goals.new')%>
          <% end %>
        <% end %>
        <% if policy(tree).share? %>
          <%= link_to new_tree_share_path(tree), class:"btn primary" do %>
            <%= render '/svg/share', w: 'w-4', h: 'h-4' %>
            <%= t('share')%>
          <% end %>
        <% end %>
        <% if @show_completed_goals %>
          <%= link_to tree_path(show_completed_goals: 0), class:'btn secondary' do %>
            <%= render '/svg/eye_closed', w: 'w-4', h: 'h-4' %>
            <%= t '.hide_completed' %>
          <% end %>
        <% else %>
          <%= link_to tree_path(show_completed_goals: 1), class:'btn secondary' do %>
            <%= render '/svg/eye', w: 'w-4', h: 'h-4' %>
            <%= t '.show_completed' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render '/goals/goal_desktop', goal: tree.top_level_goal %>
    <%= render '/goals/goal_mobile', goal: tree.top_level_goal, top_level: true %>
  </div>
<%- end -%>