<div class="flex justify-center">
  <div class="md:max-w-3xl grow">
    <%= form_with model: @tree, data: {turbo: false} do |f| %>
      <div class="flex items-center">
        <%= render 'svg/Slack_Mark', w: 'w-12', h:' h-12' %>
        <%= f.text_field :slack_webhook_url, autofocus: true, placeholder: t('trees.slack.placeholder') %>
      </div>
      <div class="flex justify-end">
        <%= link_to t('trees.slack.learn_webhook'), 'https://slack.com/help/articles/115005265063-Incoming-webhooks-for-Slack', class: 'link', target: :_blank
        %>
      </div>
      <%= f.button type: :submit, class:'btn primary center' do %>
        <%= render '/svg/comment', w: 'w-4', h: 'w-4' %>
        <span class="ml-1"><%= t('trees.update')%></span>
      <% end %>
    <% end %>
  </div>
</div>