<% if customer_signed_in? %>
  <%= content_tag :h1, "Hi #{current_customer.first_name} #{current_customer.last_name}" %>
  <%= link_to sign_out_url, method: :delete do %>
    <%= t 'auth.sign_out' %>
  <% end %>
  <%= render partial: 'context-menu', collection: @top_level_goal.tree.goals, as: :goal %>
  <div class="w-full">
    <%= content_tag :div,
      id: 'content',
      class: 'w-full h-full',
      data: { goal: render(partial: 'goals/goal', locals: { goal: @top_level_goal }, formats: [:json]) } do -%>
      <svg class="tree"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1">
          <g class="links"></g>
          <g class="nodes"></g>
      </svg>
    <%- end -%>
  </div>
<% else %>
  <%= content_tag :h1 do -%>
    <%= link_to sign_in_url do %>
      <%= t 'auth.sign_in' %>
    <% end %>
  <%- end -%>
<% end %>
