<h1>
  <% if customer_signed_in? %>
    <%= "Hi #{current_customer.first_name} #{current_customer.last_name}" %>
    <%= link_to sign_out_url, method: :delete do %>
      <%= t 'auth.sign_out' %>
    <% end %>
    <div style="width: 100%; font-size: 1.3rem;">
      <div class="tree">
        <%= turbo_stream_from 'goals' %>
        <%= turbo_frame_tag 'goals' do %>
          <%= render @parent_goal %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= link_to sign_in_url do %>
      <%= t 'auth.sign_in' %>
    <% end %>
  <% end %>
</h1>
