<%= turbo_frame_tag :popover do %>
  <div class="rounded-sm w-32 border bg-gray-100 border-indigo-600 shadow-md overflow-hidden"
       data-controller="popover"
  >
    <div class="flex flex-col divide-y divide-gray-300">
      <div class="flex flex-col">
        <span class="text-xs cursor-default"><%= t('.status') %></span>
        <% Goal.states.each do |name, _| %>
          <%= form_with model: @goal, method: :put do |f| %>
            <%= f.hidden_field :state, value: name %>
            <%= f.submit t(name), class: "ctx-menu-btn #{name}" %>
          <%- end %>
        <%- end -%>
      </div>
      <%= form_with model: @goal, method: :delete do |f| %>
        <%= f.submit t('.delete'), class: 'ctx-menu-btn danger' %>
      <% end %>
    </div>
  </div>
<%- end %>