<div>
  <span class="form-label"><%= t('.comments') %></span>
  <ul class="max-h-60 overflow-y-scroll">
    <%= turbo_stream_from [goal, :comments] %>
    <%= turbo_frame_tag :comments do %>
        <%= render comments %>
    <% end %>
  </ul>
  <%= turbo_frame_tag Comment.new(commentable: goal) do %>
    <%= render 'comments/form', comment: Comment.new(commentable: goal) %>
  <% end %>
</div>