<div>
  <span class="form-label"><%= t('.comments') %></span>
  <ul class="max-h-60 overflow-y-scroll">
    <%= turbo_stream_from [goal, :comments] %>
    <%= turbo_frame_tag :comments do %>
        <%= render comments %>
    <% end %>
  </ul>
  <% comment = Comment.new %>
  <%= turbo_frame_tag comment do %>
    <%= render 'comments/form', comment: comment, on: goal %>
  <% end %>
</div>