<%= form_with model: goal, id: dom_id(goal), class:'flex flex-col space-y-2 m-2 w-60' do |f| %>
  <%= f.hidden_field :tree_id, value: Tree.first.id %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, value: goal.name, autofocus: true %>
  </div>
  <div>
    <%= f.label :duration %>
    <%= f.number_field :duration, value: goal.duration, min: Goal::DURATION_MIN %>
  </div>

  <div class="flex justify-end">
    <%= f.button type: :submit, class:'btn btn-primary' do %>
      <%= render 'svg/save', w: 'w-4', h: 'w-4' %>
      <span class="ml-1"><%= t('goals.create')%></span>
    <% end %>
  </div>
<% end %>