<div class="min-w-full lg:min-w-min flex flex-col px-2 lg:grid lg:grid-cols-2 lg:w-7xl lg:gap-4">
  <div class="flex flex-col">
    <div>
      <div class="w-full flex justify-between">
        <h1 class="text-2xl leading-6 font-medium break-all clamp-4 self-center">
          <%= goal.name %>
        </h1>
        <% if policy(goal).edit? %>
          <div>
            <%= link_to edit_goal_path(goal), class: 'btn secondary grow-0 self-start' do %>
              <%= render '/svg/pencil', w: 'w-4', h: 'h-4' %>
              <%= t('rename') %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="space-y-2 flex flex-col">
        <%= render '/goals/assignee', goal: goal %>
        <%= render '/goals/progress', goal: goal %>
        <%= render '/goals/state', goal: goal %>
        <%= render '/goals/comments', comments: goal.comments.limit(10).reverse, goal: goal %>
        <%= render '/goals/attachments', goal: goal %>
        <div class="flex justify-end">
          <%= render '/goals/delete_form', goal: goal %>
        </div>
      </div>
    </div>
    <% if goal.similar.any? %>
      <div>
        <h3 class="text-2xl"><%= t '.similar_goals' %></h3>
        <ul class="mx-2 space-y-2">
          <%= render collection: goal.similar, partial: 'trees/goal', locals: {render_children: false} %>
        </ul>
      </div>
    <% end %>
    <% if goal.deleted_from_same_tree.any? %>
      <div>
        <h3 class="text-2xl"><%= t '.recently_deleted' %></h3>
        <ul class="mx-2 space-y-2">
          <%= render collection: goal.deleted_from_same_tree, partial: 'goals/deleted' %>
        </ul>
      </div>
    <% end %>
  </div>
  <div>
    <div class="flex justify-between">
      <h2 class="text-2xl"><%= t('.child_goals') %></h2>
      <div>
        <% if @show_completed_goals %>
          <%= link_to goal_url(@goal, request.query_parameters.merge(show_completed_goals: 0)), class:'btn secondary' do %>
            <%= render '/svg/eye_closed', w: 'w-4', h: 'h-4' %>
            <%= t '.hide_completed' %>
          <% end %>
        <% else %>
          <%= link_to goal_url(@goal, request.query_parameters.merge(show_completed_goals: 1)), class:'btn secondary' do %>
            <%= render '/svg/eye', w: 'w-4', h: 'h-4' %>
            <%= t '.show_completed' %>
          <% end %>
        <% end %>
        <% if policy(@goal.tree).edit? %>
          <%= link_to new_tree_goal_goal_path(@goal.tree, @goal), class:"btn primary" do %>
            <%= render '/svg/plus', w: 'w-4', h: 'h-4' %>
            <%= t('goals.new_child')%>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex justify-center w-full tree">
      <ul class="my-2 w-full" role="list" data-controller="tree">
        <div class="bg-blue-300 border-2 border-blue-600 text-black my-2 p-2 rounded">
          <div data-tree-target="double_tap_to_start_message">
            <%= t '.double_tap_to_start' %>
          </div>
          <div class="hidden" data-tree-target="tap_to_move_message">
            <%= t '.tap_to_move' %>
          </div>
        </div>
        <%= render 'trees/goal', goal: goal %>
      </ul>
    </div>
  <div>
</div>