<%= turbo_frame_tag goal do %>
  <div class="bg-white p-2 shadow">
    <%= turbo_frame_tag :goal_name do %>
      <div class="w-full flex justify-between">
        <%= link_to goal_path(goal), class: 'link flex items-center', data: { 'turbo-frame': '_top' } do %>
          <h1 class="text-lg leading-6 font-medium text-gray-900 break-all clamp-4 self-center">
            <%= goal.name %>
          </h1>
        <% end %>
        <div>
          <%= link_to edit_goal_path(goal), class: 'btn secondary flex-grow-0 self-start', data: { 'turbo-frame': :goal_name } do %>
            <%= render '/svg/pencil', w: 'w-4', h: 'h-4' %>
            <%= t('rename') %>
          <% end %>
          </div>
      </div>
    <% end %>
  </div>
  <div class="p-2 space-y-2">
    <%= render 'goals/progress', goal: goal %>
    <%= render 'goals/state', goal: goal %>
    <%= render 'goals/comments', comments: goal.comments.limit(10).reverse, goal: goal %>
    <%= render 'goals/attachments', goal: goal %>
    <div class="flex justify-end">
      <%= render 'goals/delete_form', goal: goal %>
    </div>
  </div>
<% end %>