<%= turbo_frame_tag :goal_name do %>
  <%= form_with model: goal, method: :put do |f| %>
    <%= f.text_field :name, value: goal.name, autofocus: true %>

    <div class="flex justify-between pt-2">
      <%= f.button type: :submit, class: 'btn btn-primary flex-grow-0 self-start', data: { 'turbo-frame': :goal_name } do %>
        <%= render 'svg/pencil', w: 'w-4', h: 'h-4' %>
        <%= t('rename') %>
      <% end %>
      <%= link_to goal_path(goal), class: 'btn btn-secondary flex-grow-0 self-start', data: { 'turbo-frame': :goal_name } do %>
        <%= t('cancel') %>
      <% end %>
    </div>
  <% end %>

<% end %>