<div class="flex flex-col">
  <div>
    <div class="flex space-x-1">
      <% if policy(goal).edit? %>
        <div class="flex flex-col items-center">
          <div class="form-label grow-0"><%= t('.effort_spent') %></div>
          <span class="btn-pill-group">
            <%= form_with model: goal, method: :put do |f| %>
              <%= f.hidden_field :spent, value: goal.spent-1 %>
              <%= f.button type: :submit, disabled: goal.spent <= Goal::SPENT_MIN, class: 'pill first' do %>
                <%= render '/svg/minus', w: 'w-4', h: 'h-4' %>
              <%- end %>
            <%- end %>
            <%= form_with model: goal, method: :put do |f| %>
              <%= f.hidden_field :spent, value: goal.spent+1 %>
              <%= f.button type: :submit, disabled: goal.spent >= goal.duration, class: 'pill' do %>
                <%= render '/svg/plus', w: 'w-4', h: 'h-4' %>
              <%- end %>
            <%- end %>
          </span>
        </div>
      <% end %>
      <div class="grow flex flex-col items-center">
        <span class="form-label"><%= t '.progress', spent: goal.spent, duration: goal.duration %></span>
        <%= render 'components/progress', percent: goal.percent %>
      </div>
      <% if policy(goal).edit? %>
        <div class="flex flex-col items-center">
          <span class="form-label"><%= t('.effort_required') %></span>
          <span class="btn-pill-group">
            <%= form_with model: goal, method: :put do |f| %>
              <%= f.hidden_field :duration, value: goal.duration-1 %>
              <%= f.button type: :submit, disabled: goal.duration <= Goal::DURATION_MIN, class: 'pill first' do %>
                <%= render '/svg/minus', w: 'w-4', h: 'h-4' %>
              <%- end %>
            <%- end %>
            <%= form_with model: goal, method: :put do |f| %>
              <%= f.hidden_field :duration, value: goal.duration+1 %>
              <%= f.button type: :submit, class: 'pill' do %>
                <%= render '/svg/plus', w: 'w-4', h: 'h-4' %>
              <%- end %>
            <%- end %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>