<%= render 'actions' do %>
  <%= link_to @goal.parents.first || root_path, class: 'btn secondary' do %>
    <%= render '/svg/chevron-left', w: 'w-4', h: 'h-4' %>
    <%= t 'back' %>
  <% end %>
  <% if policy(@goal.tree).share? %>
    <%= link_to new_tree_share_path(@goal.tree), class:"btn secondary" do %>
      <%= render '/svg/share', w: 'w-4', h: 'h-4' %>
      <%= t('share')%>
    <% end %>
  <% end %>
  <% if policy(@goal.tree).edit? %>
    <%= link_to settings_tree_path(@goal.tree), class:"btn secondary" do %>
      <%= render '/svg/cloud', w: 'w-4', h: 'h-4' %>
      <%= t('integrations')%>
    <% end %>
  <% end %>

<% end %>
<div class="flex w-full justify-center">
<%= render @goal %>
</div>