<div class="w-full bg-indigo-300 flex justify-between h-12 items-center text-black">
  <%= link_to 'Beacon', root_path, class: 'ml-2'%>
  <div class="flex items-center space-x-1 mr-2">
    <% if customer_signed_in? %>
      <%= link_to customer_index_path do %>
        <span>
          <%= Current.customer.name.first %>
        </span>
        <%= render 'customer/avatar', customer: Current.customer %>
      <% end %>
      <%= form_with url: sign_out_url, method: :delete do |f| %>
        <%= f.button type: :submit, class: 'btn secondary' do %>
          <%= t('auth.sign_out') %>
        <% end %>
      <% end %>
    <% else %>
      <%= tag.h1 do -%>
        <%= link_to sign_in_url, class: 'btn primary' do %>
          <%= t 'auth.sign_in' %>
        <% end %>
      <%- end -%>
    <% end %>
  </div>
</div>
