<!DOCTYPE html>
<html>
  <head>
    <title>Beacon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-200">
    <div class="h-screen" >
      <%= render '/nav' %>
      <%= render 'flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
